.menu-bar {
  background-color: transparent;
  width: 100vw;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width: 95vw;
}

.menu-button {
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: large;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 20px;
}

.nav-button {
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
  padding-top: 8px;
  font-size: large;
}
