.background-container {
  background-image: url("../assets/Irene_background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  color: black;
  overflow-y: scroll;
}

.content-container {
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-container {
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 32px;
}

.page-container > .text {
  color: var(--color-primary);
  font-size: var(--font-size-lg);
  margin: 24px 0;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .page-container {
    align-items: center;
  }

  .page-container > .text {
    font-size: var(--font-size-base);
    width: 100%;
    max-width: 100%;
  }
}
