@font-face {
  font-family: "NersansOneRegular";
  src: url("/public/fonts/NersansOneRegular.otf") format("opentype"),
    url("/public/fonts/NersansOneRegular.ttf") format("truetype");
}

body {
  font-family: "NersansOneRegular", sans-serif;
  /* font-family: "Helvetica Neue", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
div {
  font-family: inherit;
}

.App {
  text-align: center;
  background-color: black;
}
