@font-face {
  font-family: "NersansOneRegular";
  src: url("./assets/fonts/NersansOneRegular.otf") format("opentype");
}

body {
  font-family: "NersansOneRegular", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
div {
  font-family: inherit; /* Ensure these elements inherit the font from the body */
}

.App {
  text-align: center;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
